.hoverTeste{
	background-color: #fdf1cb;

}

th{
	background-color: #fdf1cb;
}

.efeitoh1central{
	color: #fdf1cb;
	font-weight: bold;
	font-size: 406.25%;
	text-shadow: 0px 3px #ccc,
				0px 3px 0px rgba(0,0,0,0.1)
}

.alignFormCadastro{
margin-top: 20px;
  
}
